*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  position: sticky;
  background-color: brown;
  height: 10vh;
  
}

nav ul {
  display: flex;
  width: 40%;
  height: 100%;
  text-decoration: none;
  gap: 2rem;
  padding: 0 2rem 0 2rem;
  list-style-type: none;
}

nav ul li{
  height: 100%;
}

nav ul li a{
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 1rem 0 1rem;
  background-color: aliceblue;
  font-size: 1rem;
}


